src/initial.o
src/scheduler.o
src/interrupts.o
src/exceptions.o
src/test
src/pcb.o
src/p2test.o
src/libumps.o
src/crtso.o
src/asl.o
src/term0.ummps
src/TheMachine
src/kernel
src/kernel.core.umps
src/kernel.stab.umps
src/Prova
src/klog.o
src/term0.umps
.vscode/dryrun.log
.vscode/configurationCache.log
.vscode/c_cpp_properties.json

